<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard — Customers</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="app">
      <!-- Sidebar -->
      <%- include('partials/sidebar') %>

      <!-- Main -->
      <main class="main">
        <!-- Navbar -->
        <%- include('partials/navbar') %>

        <!-- Table Section -->
        <section class="card">
          <h3 style="margin: 0 0 12px 0">Customers</h3>
          <div class="table-wrap">
            <table id="customersTable">
              <thead>
                <tr>
                  <th>Fullname</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Age</th>
                  <th>Phone</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (customers && customers.length > 0) { %> <%
                customers.forEach(customer => { %>
                <tr>
                  <td><%= customer.name %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.address %></td>
                  <td><%= customer.age %></td>
                  <td><%= customer.phone %></td>
                  <!-- <td><%= customer.createdAt %></td> -->
                  <td>
                    <a class="action-btn view" href="/view/<%= customer.id %>">
                      👁️ View
                    </a>

                    <button
                      class="action-btn edit"
                      onclick="window.location.href='/edit/<%= customer.id %>'"
                    >
                      Edit
                    </button>
                    <button
                      class="action-btn delete"
                      onclick="deleteCustomer('<%= customer.id %>')"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <% }) %> <% } else { %>
                <tr>
                  <td colspan="4">No customers found</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </div>

    <script src="/script.js"></script>
  </body>
</html>
